@charset 'utf-8';

.main_title {border-bottom: 3px solid gray; padding-bottom: 10px;}

.main_contents{display: grid; grid-template-columns: 200px 1fr;}

.local_nav{border-right: 1px solid gray;}

.local_sect{padding-left: 10px;}